<main id="addquestionID" class="snip1217">
    <h1>Add a Question!</h1>
{{#if errorMessage}}
<p class="error-message">
    {{ errorMessage }}
</p>
{{/if}}
    <form id="formId" class='addform' action="/addquestion" method="post">
        <label>Question</label>
        <input name="question"  placeholder="    Does teruel exist?" >
<br>
        <label>Correct Answer</label>
        <input name="correct_answer" placeholder="    ¯\_(ツ)_/¯">
<br>

        <label>Incorrect Answer</label>
        <input name="incorrectAnswer1" placeholder="    Teru what now?">
<br>

        <label>Incorrect Answer</label>
        <input name="incorrectAnswer2" placeholder="    You mad bro?">
<br>

        <label>Incorrect Answer</label>
        <input name="incorrectAnswer3" placeholder="    Definetely yes!">
<br>
        
        <button id="boton" onclick="play()" >Submit! </button>
    </form>
    {{#if message}}
  <p class="error-message">
    {{ message }}
  </p>
{{/if}}
</main>

