<main id="homeID">
    <h1>
        Hello {{currentUserInfo.name}}!
    </h1>
    <a href="/play">
        Play
    </a>
    <a href="/customplay">
        Custom Play
    </a>
    <a href="/profile">
        Profile
    </a>
    <a href="/addquestion">
        Add Question
    </a>
</main>