<main id="homeID" class="snip1217">
    
    <a href="/play">
        Let's Roll!
    </a>
    <a href="/customplay">
        Custom Play
    </a>
  
    <a  href="/addquestion" onclick="play()" >
        Add a Question
    </a>
</main>


<script>
      function play() {
        var audio = document.getElementById("audio");
        audio.play();
      }
    </script>

<input type="button" value="PLAY" onclick="play()">
<audio id="audio" src="images\bambu_1.mp3"></audio>