<main id="homeID" class="snip1217" class="popover">

    <a href="/play" class="enlace" onclick="play()">
        Let's Roll!
    </a>
    <a href="/customplay" class="enlace" onclick="play()">
        Custom Play
    </a>

    <a href="/addquestion" class="enlace" onclick="play()">
        Add a Question
    </a>
</main>





