<main id="homeID">
    <h1>
        HOMEPAGE PRINCIPAL
    </h1>
    <a href="/play">
        Play
    </a>
    <a href="/profile">
        Profile
    </a>
    <a href="/addquestion">
        Add Question
    </a>
</main>