<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Grandstander&display=swap" rel="stylesheet">


    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/.."><img class="nav-back" src="images\back-button-icon-6.jpg" alt="back"></a>
      <a class="navname" href="/">Tri What Now?</a>
      <a href="/profile"><img class="nav-profile" src="images\64495.png" alt="profile"></a>
     
    </nav>
    
    {{{body}}}

    <script src="javascript/script.js"></script>

  </body>
</html>
