<!DOCTYPE html>
<html>

<head>
  <title>Bubblegum!</title>

  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Grandstander&display=swap"
    rel="stylesheet">
<link  rel="icon"   href="images\output-onlinepngtools (1).png" type="image/png" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <nav>
    <a href="/.."class="enlace" onclick="play()"><img class="nav-back"  src="/images/back-button-icon-6.jpg" alt="back"></a>
    <a class="navname" class="enlace" onclick="play()" href="/">Bubblegum!</a>
    <a href="/profile" class="enlace" onclick="play()"><img class="nav-profile"  src="/images/64495.png" alt="profile"></a>

  </nav>

  {{{body}}}
 
  <audio id="audio" src="images\zapsplat_multimedia_button_click_007_53868.mp3"></audio>

  <script src="javascript/script.js"></script>

  <script>
    function play() {
      var audio = document.getElementById("audio");
      audio.play();
    }

    window.onload = function () {
      document.querySelectorAll('.enlace').forEach(item => {
        item.addEventListener('click', event => {
          event.preventDefault(); //esto cancela el comportamiento del click
          setTimeout(function (url) { window.location = item.href }, 450);
        })
      })

      if(document.body.contains(document.getElementById('boton'))){
        document.getElementById('boton').addEventListener('click', event => {
          event.preventDefault(); //esto cancela el comportamiento del click
          setTimeout(function () {document.getElementById('formId').submit()
}, 1000);
        })
      
    } 
    };

  </script>

</body>

</html>
