<main id="login">


<h1> Log In </h1>

{{#if errorMessage}}
  <p class="error-message">
    {{ errorMessage }}
  </p>
{{/if}}

<form action="/login" method="post">
  
    <label for="email-input"> Email </label>
    <input type="email" name="email" id="email-input"
      placeholder="   IsabelDiazAyuso@presidenta.es">

    <label for="password-input"> Password </label>
    <input type="password" name="password" id="password-input"
      placeholder="    ••••••••••••">
 

  <button> Let's Go! </button>
</form>
{{#if message}}
  <p class="error-message">
    {{ message }}
  </p>
{{/if}}

  <a href="/signup">
    Don't have an account?
  </a>
</main>