
<main id="addquestionID">
<h1> Play</h1>
<form action="/play" method="post">
    <label>Choose Category</label>
    <input class="inline" type="radio" name="category" value="all"> All
    <input class="inline" type="radio" name="category" value="Entertainment: Books"> Books
    <input class="inline" type="radio" name="category" value="Entertainment: Film"> Films
    <input class="inline" type="radio" name="category" value="Entertainment: Music"> Music
    <input class="inline" type="radio" name="category" value="Entertainment: Television"> Tv
    <input class="inline" type="radio" name="category" value="Entertainment: Video Games"> Videogames
    <input class="inline" type="radio" name="category" value="Science & Nature"> Science & Nature
    <input class="inline" type="radio" name="category" value="Geography"> Geography
    <label></label>
    <input class="inline" type="radio" name="category" value="Sports"> Sports
    <input class="inline" type="radio" name="category" value="History"> History
    <input class="inline" type="radio" name="category" value="Mythology"> Mythology
    <input class="inline" type="radio" name="category" value="Entertainment: Japanese Anime & Manga"> Anime & Manga
    <input class="inline" type="radio" name="category" value="Science: Computers"> Computers
    <input class="inline" type="radio" name="category" value="Science: Mathematics"> Mathematics
    <input class="inline" type="radio" name="category" value="Vehicles"> Vehicles

    

    





    <label>Difficulty</label>
    <input class="inline" type="radio" name="difficulty" value="easy"> Easy
    <input class="inline" type="radio" name="difficulty" value="medium"> Medium
    <input class="inline" type="radio" name="difficulty" value="hard"> Hard

    <label>Number of questions?</label>
    <input class="inline" type="radio" name="numberOfQuestions" value="10"> 10
    <input class="inline" type="radio" name="numberOfQuestions" value="15"> 15
    <input class="inline" type="radio" name="numberOfQuestions" value="15"> 20
    
    <button>Play!</button>
</form>
</main>