<main id="login" class="snip1217">

{{#if errorMessage}}
<p class="error-message">
    {{ errorMessage }}
</p>
{{/if}}

<form action="/signup" method="post">
    
        <label for="name-input"> Name </label>
        <input type="text" name="name" id="name-input" placeholder=" Diana Prince">

        <label for="email-input"> Email </label>
        <input type="email" name="email" id="email-input" placeholder=" diana@themyscira.agency">
    
        <label for="password-input"> Password </label>
        <input type="password" name="password" id="password-input" placeholder=" ••••••••••••">
    

    <button>Sign Up!</button>
</form>


    
    <a href="/">
        Already have an account?
    </a>


</main>