#letsPlayID {
    display:flex;
    flex-direction: column;
    align-items: center;
}
#preguntaID {
    text-align: center;
    width: 60%;
    font-size: 60px;
}



#letsPlayID #nextWinID {
  display:none
}
#letsPlayID #nextLostID {
  display:none
}
#letsPlayID #nextWinID input{
  display:none

}
#letsPlayID #nextLostID input{
  display:none

}


