/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* #40e0d0ff 
  #ee76a9ff*/



                                  /*NAV*/

nav {
  height:120px;
  
  background-color: #ff499e;
  /* background-color: #d175b7; */
 /*  border-bottom: 2px solid grey; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
  
}

.nav-back{
  width:80px;
  
  padding:50px
}
.navname{
  padding-right: 18px;
  font-size: 32px;
  font-weight: bold;
  color: black;
  /* color: #ffffff; */
}

.nav-profile{
  width:60px;
  padding:50px
}


body {
  height: 120vh;
  background: linear-gradient(180deg, #ff499e 0%,/*  #d175b7 95%, */ #ff65a7 100%);
  /* background: linear-gradient(180deg, rgb(238, 118, 169) 0%, #ee76a9ff 75%, rgba(246,189,213,1) 100%);  */
  background-attachment: fixed;
  font-family: 'Grandstander', cursive;
 
}

a {
    color: black;
  text-decoration: none; 
}

#homeID {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 35%;

}
#homeID h1 {
  font-size: 90px;
  margin: 40px 0 15px 0;
  font-weight: bolder;
  
}
#homeID a {
  margin-top: 30px;
  font-size: 90px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  padding: 10px 0;
}


                  /* Add QUESTION */

#addquestionID {
  display:flex;
    flex-direction: column;
  align-items: center;
  
  height: 80%;
}
#addquestionID h1 { 
  font-size: 55px;
  font-weight: bold;
  margin-top: 40px;
}

.addform{
  font-size: 30px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 80%;

}
.addform input{
  border-radius: 20px;
  height: 30px;
  margin-top: 10px;
  width:60%;
  display: flex;
  align-self: center;
}
.addform label {
  display:block;
  align-self: center;
  margin-top: 20px;
}

.addform button {
  width: 300px;
  margin-top: 20px;
  font-size: 55px;
  
  font-weight: bold;
  display: flex;
  align-self: center;
  justify-content: center;
  background: none;
  cursor: pointer;
  border: none;
  padding:10px 0;
}

.deletebttn  {
 margin-right: 10%;
  margin-top: 40px;
  font-size: 30px;
  color: black;
  font-weight: bold;
  display: flex;
  align-self: flex-end;
  justify-content: center;
  background: none;
  cursor: pointer;
  border: none;
  padding:0;
}


/*     Log in &Signup*/

#login {

  display:flex;
  flex-direction: column;
  align-items: center;
 
  

}

#login h1 { 
  font-size: 65px;
  font-weight: bold;
  margin-top: 40px;
  
}

#login form{
  font-size: 35px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 80%;
  margin-top: 30px;

}

#login input{
  border-radius: 20px;
  height: 30px;
  margin-top: 10px;
  width:60%;
  display: flex;
  align-self: center;
  margin-top: 30px;
}

#login label {
  display:block;
  align-self: center;
  margin-top: 30px;
}

#login button {
  width: 300px;
  padding:10px 0;
  margin-top: 40px;
  font-size: 65px;
  
  font-weight: bold;
  display: flex;
  align-self: center;
  justify-content: center;
  background: none;
  cursor: pointer;
  border: none;
  
}

#login a{
  align-self: flex-end;
  margin-right: 10%;
  margin-top: 90px;
  font-size: 22px;
  padding: 20px 0;
}


/* PROFILE  */

#profile {

  display:flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  

}

#profile h1 { 
  font-size: 65px;
  font-weight: bold;
  margin-top: 40px;
}

#profile h2 {
  font-size: 45px;
  font-weight: bold;
  margin-top: 60px;
  align-self: flex-start;
  margin-left:10%;
}

#profile h3 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 40px;
 
}

#profile a{
  margin-top: 40px;
  font-size: 22px;
}

#nextWinID {
  display:none
}
#nextLostID {
  display:none
}


/* PLay Selecet*/


#playselect {
 
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  
}


#playselect form{
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  width: 90%;
  max-width: 1200px;
}

#playselect label {
margin: 30px 0;
font-size: 60px;

}
.categorydiv{
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	
}

.categorydiv p{
  display: inline;
  
 }
 .categorydiv2{
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	
}

.categorydiv2 p{
  display: inline;
  
 }
#playselect input{
  margin: 30px 20px;

}

#playselect button {
  width: 400px;
  margin-top: 40px;
  font-size: 75px;
 
  font-weight: bold;
  display: flex;
  align-self: center;
  justify-content: center;
  background: none;
  cursor: pointer;
  border: none;
  padding:10px 0;
}




@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

.snip1217 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.snip1217 a {
  
  color: rgba(0, 0, 0,0.6);
 /*  color: rgba(255, 255, 255, 0.5); */
  position: relative;
  text-decoration: none;
  display: inline-block;
}
.snip1217 button {
  
  color: rgba(0, 0, 0,0.6);
 /*  color: rgba(255, 255, 255, 0.5); */
  position: relative;
  text-decoration: none;
  display: inline-block;
}
.snip1217 a:before,
.snip1217 a:after {
  height: 3px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  /* background-color: #40e0d0ff; */
  background-color: #4bc3b5;
  width: 0;
}
.snip1217 button:before,
.snip1217 button:after {
  height: 3px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  /* background-color: #40e0d0ff; */
  background-color: #4bc3b5;
  width: 0;
}
.snip1217 a:before {
  top: 0;
  left: 0;
}
.snip1217 button:before {
  top: 0;
  left: 0;
}
.snip1217 a:after {
  bottom: 0;
  right: 0;
}
.snip1217 button:after {
  bottom: 0;
  right: 0;
}
.snip1217 a:hover,
.snip1217 .current a {
  color: rgb(0,0,0);
 /*  color: #ffffff; */
}

.snip1217 button:hover,
.snip1217 .current button {
  color: rgb(0,0,0);
  /* color: #ffffff; */
}
.snip1217 a:hover:before,
.snip1217 .current a:before,
.snip1217 a:hover:after,
.snip1217 .current a:after {
  width: 100%;
}

.snip1217 button:hover:before,
.snip1217 .current button:before,
.snip1217 button:hover:after,
.snip1217 .current button:after {
  width: 100%;
}



#letsPlayID {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
#preguntaID {
  align-content: center;
  text-align: center;
  width: 60%;
  font-size: 32px;
  
    font-weight: bold;
}

#tablaPreguntasIDafter{
  margin-top: 50px;
  width: 90%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#tablaPreguntasIDafter div{
  width: 40%;
  align-content: center;
  text-align: center;
  padding: 40px 0;
  margin: 10px;
  background-color: rgba(75, 195, 181, 0.9);
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 3px 3px #000000a3;

}

#tablaPreguntasIDafter div p{
  font-size: 28px;
}



#nextWinID button {
  width: 400px;
  margin-top: 20px;
  font-size: 75px;
 
  font-weight: bold;
  display: flex;
  align-self: center;
  justify-content: center;
  background: none;
  cursor: pointer;
  border: none;
  padding:10px 0;
}

#profile a{
  padding: 10px 0;
}

#nextLostID button {
  width: 400px;
  margin-top: 50px;
  font-size: 75px;

  font-weight: bold;
  display: flex;
  align-self: center;
  justify-content: center;
  background: none;
  cursor: pointer;
  border: none;
  padding:10px 0;
}

#profile h3 {
  color: rgba(255, 255, 255, 0.945);
  text-shadow: 3px 3px rgba(0, 0, 0, 0.45);

}


@media (max-width: 801px) {
  #tablaPreguntasIDafter{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #tablaPreguntasIDafter div{
    width: 90%;
    padding: 15px 0;
  }
  #preguntaID{
    width: 90%;
    
  }
  #profile h1{
    font-size: 40px;
    
  }
  #profile h3{
    font-size: 22px;
    width:90%;
    text-align: center;
  }
  #login button {
    margin-top: 40px;
   width: 80%;
   font-size:60px
    
  }

  
  #homeID h1 {
    font-size: 60px;
    
    
  }
  #homeID a {
    
    font-size: 50px;
    margin-top:60px;
     
  }

  
#nextWinID button {
 
  margin-top: 20px;
  font-size: 60px;
}
  
#nextLostID button {
 
  margin-top: 20px;
  font-size: 60px;
}

#resultsCategoryMode{
  font-size: 26px;
}

#resultBotonForm{
  font-size: 45px;
  
}
#resultsLinks a{
  font-size:45px;
  margin-top: 30px;
}

#resultsGreatPlay{
  margin-top: 20px;
}

#playselect form{
font-size: 30px;
display: flex;
flex-direction: column;
align-items: center;
margin-top: 30px;
width: 90%;
max-width: 1200px;
}

#playselect label {
margin: 30px 0;
font-size: 40px;

}
.categorydiv div{

width: 40%;

}

.categorydiv p{
 display: inline;
 font-size: 17px;
}

.categorydiv2{
  width: 100%;
}
.categorydiv2 div{

  width: 30%;
  margin: 0;
  padding: 0;
  }
  
  .categorydiv2 p{
   display: inline;
   font-size: 17px;
  }
  
#playselect input{
margin: 30px 20px;

}

#playselect button {

font-size: 50px;

}

.nav-back{

  padding:15px;
  padding-left: 0px;
}
.nav-profile{
  padding: 15px;
}

#formId input{
  width:80%;
}

}
