/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* #40e0d0ff 
  #ee76a9ff*/



                                  /*NAV*/

nav {
  height:120px;
  background-color: #40e0d0ff ;
  border-bottom: 2px solid grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.nav-back{
  width:80px;
  
  padding:50px
}
.navname{
  font-size: 32px;
  font-weight: bold;
  color: black;
}

.nav-profile{
  width:60px;
  padding:50px
}


body {
  height: 100vh;
  
    background: linear-gradient(180deg, rgb(238, 118, 169) 0%, #ee76a9ff 75%,rgba(246,189,213,1) 100%); 
  font-family: 'Grandstander', cursive;
}

a {
    color: black;
  text-decoration: none; 
}

#homeID {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 75%;

}
#homeID h1 {
  font-size: 90px;
  margin: 60px 0 15px 0;
  font-weight: bolder;
  
}
#homeID a {
  
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
   
}


                  /* Add QUESTION */

#addquestionID {
  display:flex;
    flex-direction: column;
  align-items: center;
  
  height: 80%;
}
#addquestionID h1 { 
  font-size: 55px;
  font-weight: bold;
  margin-top: 40px;
}

.addform{
  font-size: 30px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 80%;

}
.addform input{
  border-radius: 20px;
  height: 30px;
  margin-top: 10px;
  width:60%;
  display: flex;
  align-self: center;
}
.addform label {
  display:block;
  align-self: center;
  margin-top: 20px;
}

.addform button {
  width: 40%;
  margin-top: 20px;
  font-size: 55px;
  color: black;
  font-weight: bold;
  display: flex;
  align-self: center;
  justify-content: center;
  background: none;
  cursor: pointer;
  border: none;
  padding:0;
}

.deletebttn  {
 margin-right: 10%;
  margin-top: 40px;
  font-size: 30px;
  color: black;
  font-weight: bold;
  display: flex;
  align-self: flex-end;
  justify-content: center;
  background: none;
  cursor: pointer;
  border: none;
  padding:0;
}


/*     Log in &Signup*/

#login {

  display:flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  

}

#login h1 { 
  font-size: 65px;
  font-weight: bold;
  margin-top: 40px;
  
}

#login form{
  font-size: 35px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 80%;
  margin-top: 30px;

}

#login input{
  border-radius: 20px;
  height: 30px;
  margin-top: 10px;
  width:60%;
  display: flex;
  align-self: center;
  margin-top: 30px;
}

#login label {
  display:block;
  align-self: center;
  margin-top: 30px;
}

#login button {
  width: 40%;
  margin-top: 40px;
  font-size: 65px;
  color: black;
  font-weight: bold;
  display: flex;
  align-self: center;
  justify-content: center;
  background: none;
  cursor: pointer;
  border: none;
  padding:0;
}

#login a{
  align-self: flex-end;
  margin-right: 10%;
  margin-top: 90px;
  font-size: 22px;
}


/* PROFILE  */

#profile {

  display:flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  

}

#profile h1 { 
  font-size: 65px;
  font-weight: bold;
  margin-top: 40px;
}

#profile h2 {
  font-size: 45px;
  font-weight: bold;
  margin-top: 60px;
  align-self: flex-start;
  margin-left:10%;
}

#profile h3 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 40px;
 
}

#profile a{
  margin-top: 40px;
  font-size: 22px;
}

#nextWinID {
  display:none
}
#nextLostID {
  display:none
}